<!DOCTYPE html>
<html lang="en">

{% include 'head' %}

<body>
	{% include 'header' %}
  
	{{ content }}
	</main>

	<script src="https://lacmta.github.io/design-system/dist/js/uswds.min.js"></script>
	<script src="js/{{ js }}"></script>
</body>
</html>